@media screen and (min-width: 1024px) {
    #banner {
        width: 20%;
        right: 0;
        position: absolute;
        right: 0;
    }
    main{
        padding-top: 10%;
    }
    body{
        background-image: url(imgs/vals.jpg);
        background-color: rgb(237, 181, 237);
    }
    
    
    
}
@media screen and (max-width: 767px) {
    
}