    #banner {
        width: 20%;
        right: 0;
        position: absolute;
        right: 0;
    }
    main{
        margin: 0;
        overflow-y: auto;
        overflow-x: 0;
    }
    .Welcome{
        height: 140vh;
        background-image: url(../imgs/banner.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: rgba(239, 224, 247, 0.521);
        position: relative;
        z-index: -1;
        left: 0;
        right: 0;
        max-width: 100%;
    }    
    .info{
        z-index: -1;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: rgba(240, 216, 252, 0.521);
        position: relative;
        z-index: -1;
        max-width: 100%;
    }
    .logan {
        background-color: yellow;
        z-index: 1;
        height: 20vh;
        width: 65vh;
        position: relative;
        top: 20vh;
        left: 7vh;
        opacity: 50%;
        display: flex;
        align-items: center; 
        justify-content: flex-start;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
        text-align: center;
    }
    
    .logan h1 {
        color: black;
        font-size: 5vh;
        font-family:'Comfortaa', sans-serif;
        margin: 0;
    }
    .mini-texts {
        top: 32vh;
        position: relative;
        display: flex; 
        margin-left: 5vh;
        margin-right: 7vh;
        flex-wrap: wrap;
        gap: 80px;
    }
    .mini-text {
        height: 30vh;
        width: 125vh;
        border-radius: 5%;
        opacity: 0.8;
        z-index: 1;
        background: linear-gradient(45deg, #5fdcff, #feb47b);;
        margin-left: 2vh;
        overflow: auto;
    }
    .mini-text h2{
        margin-left: 3vh;
        margin-right: 3vh;
        font-size: 24px;
    }
    .mini-text p{
        margin-left: 3vh;
        margin-right: 3vh;
        font-size: 20px;
    }
    footer{
        background-color: white;
        height: 20vh;
        background-repeat: no-repeat;
        background-size: cover; 
        color: #fff;
        max-width: 100%;
        padding: 20px;
    }
    
    .contact-us {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        color: #333;
        border-radius: 20px;
        width: 400px;
        margin: 0 auto;
        padding: 20px;
    }
    
    .contact-us h2 {
        margin-top: 0;
    }
    
    .footer-image {
        display: block;
        margin: 0 auto;
        width: 100px;
        height: 100px;
    }

    .news {
        position: relative;
        display: flex; 
        margin-left: 5vh;
        margin-right: 7vh;
        gap: 50px;
    }
    .new {
        height: 35vh;
        width: 90vh;
        border-radius: 5%;
        opacity: 0.8;
        z-index: 1;
        background: linear-gradient(45deg, #a584f9, #f5fe7b);;
        margin-left: 2vh;
        overflow: auto;
    }
    .new h2{
        margin-left: 3vh;
        margin-right: 3vh;
        font-size: 24px;
    }
    .new p{
        margin-left: 3vh;
        margin-right: 3vh;
        font-size: 20px;
    }
    h1{
        padding-left: 7.5vh;
        font-size: 70px;
    }
    #title{
        
    }
    @media screen and (max-width: 768px){
        .contact-us{
            width: 300px;
        }
        .footer-image{
            width: 75px;
            height: 75px;
        }
        .logan{
            height: 10%;
            width: 75%;
            
        }
        .Welcome{
            height: 150vh;
        }
        .logan h1{
            font-size: 110%;
        }
        .mini-texts{
            flex-wrap: wrap;
            gap: 20px;
        }
    }