/* Apply styles to the gallery container */
body{
    background-color: lightgreen;
}
.gallery {
    margin: 30px;
    padding-top: 10%;
    display: grid;
    font-size: 1.8rem; 
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-right: 15px;
}

/* Apply styles to each artwork item */
.gallery-item {
    flex: 0 0 calc(33.33% - 20px);
    
    margin: 30px;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}

.gallery-item img {
    max-width: 100%;
    transition: transform 0.3s ease;
}

/* Scale up on hover */
.gallery-item:hover {
    transform: scale(1.2);
}

/* Responsive design - Adjust the number of items per row for smaller screens */
@media (max-width: 768px) {
    .gallery {
        justify-content: center;
    }
    .gallery-item {
        flex: 0 0 calc(50% - 20px);
        width: calc(50% - 20px);
    }
}
